<div class="filter">
  <%= form_tag posts_path, method: :get, class: "form-inline" do %>
  
    <div class="row">
      <div class="col-md-4">
        <%= label_tag "Price" %>
      </div>
      <div class="col-md-2">
        <%= label_tag :bedrooms %>
      </div>
      <div class="col-md-2">
        <%= label_tag :bathrooms %>
      </div>
      <div class="col-md-4">
        <%= label_tag :neighborhood %>
      </div>
    </div>
    
    <div class="row">
      <div class="col-md-4">
        <%= text_field_tag :min_price, params[:min_price], placeholder: "minimum", class: "form-control input-sm" %>
        <%= text_field_tag :max_price, params[:max_price], placeholder: "maximum", class: "form-control input-sm" %>
      </div>
      <div class="col-md-2">
        <%= text_field_tag :bedrooms, params[:bedrooms], placeholder: "# of beds", class: "form-control input-sm" %>
      </div>
      <div class="col-md-2">
        <%= text_field_tag :bathrooms, params[:bathrooms], placeholder: "# of baths", class: "form-control input-sm" %>
      </div>
      <div class="col-md-4">
        <%= select_tag(:neighborhood, options_from_collection_for_select(Location.all, :name, :name, params[:neighborhood]), { include_blank: true, class: "form-control input-sm" }) %>
      </div>
    </div>
    
    <div class="row">
      <div class="col-md-4">
        <%= label_tag "Square Footage" %>
      </div>
    </div>
    
    <div class="row">
      <div class="col-md-4">
        <%= text_field_tag :min_sqft, params[:min_sqft], placeholder: "minimum", class: "form-control input-sm" %>
        <%= text_field_tag :max_sqft, params[:max_sqft], placeholder: "maximum", class: "form-control input-sm" %>
      </div>
      <div class="col-md-1">
        <%= label_tag :cats %>
        <%= check_box_tag :cats, "YES", params[:cats] %>
      </div>
      <div class="col-md-1">
        <%= label_tag :dogs %>
        <%= check_box_tag :dogs, "YES", params[:dogs] %>
      </div>
      <div class="col-md-2">
        <%= label_tag "Washer/dryer in unit" %>
        <%= check_box_tag :w_d_in_unit, "YES", params[:w_d_in_unit] %>
      </div>
      <div class="col-md-2">
        <%= label_tag :street_parking %>
        <%= check_box_tag :street_parking, "YES", params[:street_parking] %>
      </div>
      <div class="col-md-2">
        <%= submit_tag "Search", name: nil, class: "btn btn-primary" %>
      </div>
    </div>  

  <% end %>
</div>